In [102]:
import pandas as pd

# Create a subset of test data to qualify code

a=pd.read_excel('Desktop/meetinglocationsnorth.xls')
a = pd.DataFrame(a)
strt = 0
stp = 25
a = a.iloc[strt:stp]
a

,GroupCount,revised_address,Groups,Flt
0,5,"6915 196th St SW, Lynnwood 98036","SISTERS IN RECOVERY,GREAT FACT AS BILL SEE'S I...",1
1,2,"12531 28th Ave NE, #8 98125",LAKE CITY 11TH HOUR,1
2,1,"1301 N 200th St, 98133",VETERAN'S STEPPING INTO THE LIGHT,1
3,1,"1460 NW 73rd St, Ballard 98117",THE BALLARD STEPS,1
4,30,"15011 Aurora Ave N, Shoreline 98133","BROADVIEW WAKEUP,BROADVIEW NOON,BROADVIEW HAPP...",1
5,1,"1549 NW 49th St, Ballard 98107",OUTRIGHT MENTAL DEFECTIVES,1
6,1,"16415 North Rd, Mill Creek, 98012",ACTION IS THE KEY (Spkr/Disc),1
7,1,"17171 Bothell Wy NE, Lk Forest Pk 98155",SUNDAY BREAKFAST,1
8,3,"17529 15th Ave NE, Shoreline 98155","MORNING MEDITATION,WORKING WITH OTHERS,JAY WALKER",1
9,5,"18800 44th Ave W, Lynnwood 98036",AM AA,1
10,1,1900 N 175th 98133 (175th & Meridian),RICHMOND BEACH,1
11,2,"19820 40th Ave W, Lynnwood 98036",LAST CALL / HOOTOWL,1
12,24,"19820 40th Ave W, Ste 114, Lynnwood 98036",ED-LYNN FELLOWSHIP,1
13,5,"19820 40th Ave. W Suite 114Â ,Â Lynnwood,Â WAÂ...",ED LYNN FELLOWSHIP,1
14,14,"2006 NW 65th, Seattle 98116","AGAPE,LIVING IN SOBRIETY,WOMEN'S RENDEZVOUS,TH...",1
15,1,2115 N 42nd (& Bagley) 98103,BURKE AVENUE MEN'S GROUP,2
16,5,"21428 44th Ave W, Mtlk Terr 98043",TUG (The Unity Group),2
17,1,"2245 NW 57th St, Leif Erickson Hall, 98107",FREETHINKERS,2
18,1,"22617 76th Ave W #203, Edmonds 98026",GOOD HEALTH,2
19,1,22828 76th Ave N (230th&76th Ave W) 98026,NEW & ALIVE,2
20,7,2321 N Northlake Way 98103,WATER'S EDGE,2
21,10,2400 NW 85th 98117,"BALLARD,LOYAL HEIGHTS,MORNING RUSH,SOBRIETY STUDY",2
22,1,"2609 Larch Way, Lynnwood",GRACELAND,2
23,1,302 N 78th St 98103,WINGNUTS,2
24,4,325 N 125th (at Phinney) 98133,"BOILED OWL GROUP,TUESDAY LADIES STUDY,FRIDAY M...",2

In [ ]:
# Apply First RE

pattern = re.compile(r"#\d+")
[pattern.sub("", i) for a['revised_address'] in a]

In [91]:
#RE to remove bracketed text which prevents successful GeoCoding

import re

addressMunge = '12531 28th Ave NE #8, (at Phinney) Seattle, WA 98125, USA'


addressMunge = re.sub(r'\([^)]*\)', '', addressMunge) # RegEx to remove brackets

addressMunge = re.compile(r"#\d+").sub("", addressMunge) 

addressMunge= list(str(addressMunge).split())
addressMunge.remove(',')
addressMunge= ' '.join(addressMunge)
addressMunge, len(addressMunge)

('12531 28th Ave NE Seattle, WA 98125, USA', 40)

In [101]:
# Reset output DataFrame
df=pd.DataFrame()

In [106]:
import urllib
from urllib.request import urlopen
from pandas.io.json import json_normalize
import requests
import json
import pandas as pd

# Create the basic elements of the URL variables that confine the search for addresses to WA to reduce ambiguity and increase speed
# These parameters 'WA' and 'US' can be changed when this code is applied to other Areas or Countries
# Key is available for free from Google for limited daily use

gkey = 'get your own key' # Key removed for GitHub posting

GEOCODE_BASE_URL = 'https://maps.googleapis.com/maps/api/geocode/json'
country = 'US'
state = 'WA'
address = ''

geo_args = {'address': address,
        'administrative_area_level_1, political': state,
        'country, political':country,
        'key':gkey}

# Create loop to iterate through input file
for i in a['revised_address']:
    address= str(i).strip() 
    address = re.sub(r'\([^)]*\)', '', address)          # RegEx to remove bracketed text (usually an intersection)
    address = re.compile(r"#\d+").sub("", address)       # RegEx to remove text after # sign (usually a unit number)

    geo_args.update({'address': address})   
    url = GEOCODE_BASE_URL + '?' + urllib.parse.urlencode(geo_args)
  
    
    r = requests.get(url)
    response = json.loads(r.text)   
    if response['status'] == 'OK':
        flatdata = pd.io.json.json_normalize(response['results'])
        df = df.append(flatdata)
        df['status']= response['status']
df

,address_components,formatted_address,geometry.bounds.northeast.lat,geometry.bounds.northeast.lng,geometry.bounds.southwest.lat,geometry.bounds.southwest.lng,geometry.location.lat,geometry.location.lng,geometry.location_type,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,partial_match,place_id,status,types
0,"[{'long_name': '6915', 'types': ['street_numbe...","6915 196th St SW, Lynnwood, WA 98036, USA",47.822254,-122.326785,47.821798,-122.327167,47.822026,-122.326976,ROOFTOP,47.823375,-122.325627,47.820677,-122.328325,NaN,ChIJVUAc5zIFkFQRqp7DOApE2Fs,OK,[premise]
0,"[{'long_name': '12531', 'types': ['street_numb...","12531 28th Ave NE, Seattle, WA 98125, USA",47.720485,-122.297914,47.720209,-122.298312,47.720347,-122.298113,ROOFTOP,47.721696,-122.296764,47.718998,-122.299462,NaN,ChIJGUOw4GQRkFQRbXShPkGkgG4,OK,[premise]
0,"[{'long_name': '1301', 'types': ['street_numbe...","1301 N 200th St, Shoreline, WA 98133, USA",NaN,NaN,NaN,NaN,47.773861,-122.343290,ROOFTOP,47.775210,-122.341941,47.772512,-122.344639,NaN,ChIJ1QgYvWIQkFQR-TIHq0L-rZ4,OK,[street_address]
0,"[{'long_name': '1460', 'types': ['street_numbe...","1460 NW 73rd St, Seattle, WA 98117, USA",47.681807,-122.374791,47.681533,-122.375522,47.681670,-122.375156,ROOFTOP,47.683019,-122.373807,47.680321,-122.376505,NaN,ChIJpeWaiSwUkFQR-p7wSlMUX0s,OK,[premise]
0,"[{'long_name': '15011', 'types': ['street_numb...","15011 Aurora Ave N, Shoreline, WA 98133, USA",47.739380,-122.345350,47.739380,-122.345369,47.739380,-122.345369,RANGE_INTERPOLATED,47.740729,-122.344010,47.738031,-122.346708,NaN,EiwxNTAxMSBBdXJvcmEgQXZlIE4sIFNob3JlbGluZSwgV0...,OK,[street_address]
0,"[{'long_name': '1549', 'types': ['street_numbe...","1549 NW 49th St, Seattle, WA 98107, USA",47.664301,-122.378325,47.664167,-122.378543,47.664234,-122.378434,ROOFTOP,47.665583,-122.377085,47.662885,-122.379783,NaN,ChIJx124E7gVkFQRVha6bGiRyn4,OK,[premise]
0,"[{'long_name': '16415', 'types': ['street_numb...","16415 North Rd, Bothell, WA 98012, USA",NaN,NaN,NaN,NaN,47.848577,-122.235191,ROOFTOP,47.849925,-122.233842,47.847228,-122.236540,True,ChIJpWGti8QFkFQR6cFdd_QIPug,OK,[street_address]
0,"[{'long_name': '17171', 'types': ['street_numb...","17171 Bothell Way NE, Lake Forest Park, WA 981...",NaN,NaN,NaN,NaN,47.754010,-122.280368,ROOFTOP,47.755359,-122.279019,47.752661,-122.281717,NaN,ChIJteRISMgRkFQRgR_4mxeP3Us,OK,[street_address]
0,"[{'long_name': '17529', 'types': ['street_numb...","17529 15th Ave NE, Shoreline, WA 98155, USA",47.756723,-122.313816,47.756557,-122.314271,47.756640,-122.314043,ROOFTOP,47.757989,-122.312694,47.755291,-122.315392,NaN,ChIJh8OQBFQQkFQRtGT3q9pOJMQ,OK,[premise]
0,"[{'long_name': '18800', 'types': ['street_numb...","18800 44th Ave W, Lynnwood, WA 98036, USA",47.828034,-122.292845,47.827491,-122.293344,47.827762,-122.293094,ROOFTOP,47.829111,-122.291745,47.826413,-122.294443,NaN,ChIJdbjeSBQFkFQRBY0S4PyQv2o,OK,[premise]
0,"[{'long_name': '1900', 'types': ['street_numbe...","1900 N 175th St, Shoreline, WA 98133, USA",47.756813,-122.335819,47.756213,-122.336778,47.756513,-122.336298,ROOFTOP,47.757862,-122.334949,47.755164,-122.337647,True,ChIJDXN-jPAQkFQR6g2e5HPFZcg,OK,[premise]
0,"[{'long_name': '19820', 'types': ['street_numb...","19820 40th Ave W, Lynnwood, WA 98036, USA",NaN,NaN,NaN,NaN,47.818784,-122.287973,ROOFTOP,47.820133,-122.286624,47.817435,-122.289322,NaN,ChIJ8asOC0IFkFQRbi0SgY_uD6Y,OK,[street_address]
0,"[{'long_name': '114', 'types': ['subpremise'],...","19820 40th Ave W #114, Lynnwood, WA 98036, USA",NaN,NaN,NaN,NaN,47.818784,-122.287973,ROOFTOP,47.820133,-122.286624,47.817435,-122.289322,NaN,Ei4xOTgyMCA0MHRoIEF2ZSBXICMxMTQsIEx5bm53b29kLC...,OK,[subpremise]
0,"[{'long_name': '114a', 'types': ['subpremise']...","19820 40th Ave W #114a, Lynnwood, WA 98036, USA",NaN,NaN,NaN,NaN,47.818784,-122.287973,ROOFTOP,47.820133,-122.286624,47.817435,-122.289322,True,Ei8xOTgyMCA0MHRoIEF2ZSBXICMxMTRhLCBMeW5ud29vZC...,OK,[subpremise]
0,"[{'long_name': '2006', 'types': ['street_numbe...","2006 65th Ave SW, Seattle, WA 98116, USA",47.577021,-122.415977,47.577017,-122.415995,47.577021,-122.415977,RANGE_INTERPOLATED,47.578368,-122.414637,47.575670,-122.417335,True,EigyMDA2IDY1dGggQXZlIFNXLCBTZWF0dGxlLCBXQSA5OD...,OK,[street_address]
1,"[{'long_name': '2006', 'types': ['street_numbe...","2006 NW 65th St, Seattle, WA 98117, USA",47.676208,-122.382503,47.676083,-122.382648,47.676145,-122.382575,ROOFTOP,47.677494,-122.381226,47.674796,-122.383924,True,ChIJD3m49NEVkFQRpTXAyMdnjFI,OK,[premise]
2,"[{'long_name': '2006', 'types': ['street_numbe...","2006 NE 65th St, Seattle, WA 98115, USA",47.675797,-122.306238,47.675785,-122.306238,47.675797,-122.306238,RANGE_INTERPOLATED,47.677140,-122.304889,47.674442,-122.307587,True,EicyMDA2IE5FIDY1dGggU3QsIFNlYXR0bGUsIFdBIDk4MT...,OK,[street_address]
3,"[{'long_name': '2006', 'types': ['street_numbe...","2006 NW 65th Ct, Seattle, WA 98117, USA",47.675840,-122.403497,47.675827,-122.403498,47.675840,-122.403497,RANGE_INTERPOLATED,47.677182,-122.402149,47.674484,-122.404847,True,EicyMDA2IE5XIDY1dGggQ3QsIFNlYXR0bGUsIFdBIDk4MT...,OK,[street_address]
0,"[{'long_name': '2115', 'types': ['street_numbe...","2115 N 42nd St, Seattle, WA 98103, USA",47.657840,-122.332783,47.657552,-122.333182,47.657696,-122.332982,ROOFTOP,47.659045,-122.331633,47.656347,-122.334331,True,ChIJkdUg31cUkFQRbO7ErGAE39w,OK,[premise]
0,"[{'long_name': '98043', 'types': ['postal_code...","Mountlake Terrace, WA 98043, USA",47.811726,-122.281464,47.777205,-122.333407,47.793372,-122.302732,APPROXIMATE,47.811726,-122.281464,47.777205,-122.333407,True,ChIJk2MIeQYQkFQRJ0Fuj5r5JZE,OK,[postal_code]
0,"[{'long_name': '98107', 'types': ['postal_code...","Seattle, WA 98107, USA",47.676919,-122.354463,47.649932,-122.414259,47.668360,-122.376958,APPROXIMATE,47.676919,-122.354463,47.649932,-122.414259,True,ChIJl4kSgrgVkFQRZNDxOdqywIA,OK,[postal_code]
0,"[{'long_name': '22617', 'types': ['street_numb...","22617 76th Ave W, Edmonds, WA 98026, USA",47.793768,-122.334317,47.793484,-122.335203,47.793626,-122.334760,ROOFTOP,47.794975,-122.333411,47.792277,-122.336109,NaN,ChIJqxRGMJ8akFQR9NQ2rXGCcaw,OK,[premise]
0,"[{'long_name': '22828', 'types': ['street_numb...","22828 76th Ave W, Edmonds, WA 98026, USA",47.791872,-122.335713,47.791649,-122.336235,47.791761,-122.335974,ROOFTOP,47.793110,-122.334625,47.790412,-122.337323,True,ChIJoc8D8p4akFQRp0C3T8R4ZW8,OK,[premise]
0,"[{'long_name': '2321', 'types': ['street_numbe...","2321 N Northlake Way, Seattle, WA 98103, USA",47.650091,-122.330681,47.649814,-122.330879,47.649953,-122.330780,ROOFTOP,47.651302,-122.329431,47.648604,-122.332129,NaN,ChIJaa1wffwUkFQRHRIXf3qXuFk,OK,[premise]
0,"[{'long_name': '2400', 'types': ['street_numbe...","2400 NW 85th St, Seattle, WA 98117, USA",47.690912,-122.387775,47.690685,-122.388673,47.690798,-122.388224,ROOFTOP,47.692147,-122.386875,47.689449,-122.389573,True,ChIJiWGhPYcWkFQREvLoWD3jmJ0,OK,[premise]
0,"[{'long_name': '2609', 'types': ['street_numbe...","2609 Larch Way, Lynnwood, WA 98036, USA",47.811556,-122.268284,47.811270,-122.269116,47.811413,-122.268700,ROOFTOP,47.812762,-122.267351,47.810064,-122.270049,NaN,ChIJqQO6iWEFkFQRAZm_No87rgU,OK,[premise]
0,"[{'long_name': '302', 'types': ['street_number...","302 N 78th St, Seattle, WA 98103, USA",47.685831,-122.354691,47.685566,-122.355138,47.685698,-122.354915,ROOFTOP,47.687047,-122.353566,47.684349,-122.356264,NaN,ChIJ7y9HcCMUkFQRIu8yHQqYIhw,OK,[premise]
0,"[{'long_name': '325', 'types': ['street_number...","325 N 125th St, Seattle, WA 98133, USA",47.719515,-122.354442,47.719274,-122.354845,47.719394,-122.354643,ROOFTOP,47.720743,-122.353295,47.718045,-122.355992,True,ChIJ_3TpHcsWkFQRJxqR9fTEGes,OK,[premise]

In [ ]:
len(df)

In [5]:
# Replace periods with underscore to make DataFrame Column Names  MySQL friendly
                    
columnsLst = list(i.replace(".", "_") for i in df.columns)
df.columns = columnsLst
 
df.columns

Index(['address_components', 'formatted_address',
       'geometry_bounds_northeast_lat', 'geometry_bounds_northeast_lng',
       'geometry_bounds_southwest_lat', 'geometry_bounds_southwest_lng',
       'geometry_location_lat', 'geometry_location_lng',
       'geometry_location_type', 'geometry_viewport_northeast_lat',
       'geometry_viewport_northeast_lng', 'geometry_viewport_southwest_lat',
       'geometry_viewport_southwest_lng', 'partial_match', 'place_id',
       'status', 'types'],
      dtype='object')

In [107]:
# Add original addresses that were used in the query
inputaddress = [i for i in a['revised_address']]
inputaddress = list(zip(df['place_id'], inputaddress))
inputaddress = pd.DataFrame(inputaddress, columns=('place_id', 'revised_address'))
updatedaddresses = pd.DataFrame(df.merge(inputaddress))

mysubset = ['status', 'revised_address', 'types']
othercols = [c for c in updatedaddresses.columns if c not in mysubset]
othercols.remove('address_components')
updatedaddresses = updatedaddresses[mysubset+othercols]

updatedaddresses

,status,revised_address,types,formatted_address,geometry.bounds.northeast.lat,geometry.bounds.northeast.lng,geometry.bounds.southwest.lat,geometry.bounds.southwest.lng,geometry.location.lat,geometry.location.lng,geometry.location_type,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,partial_match,place_id
0,OK,"6915 196th St SW, Lynnwood 98036",[premise],"6915 196th St SW, Lynnwood, WA 98036, USA",47.822254,-122.326785,47.821798,-122.327167,47.822026,-122.326976,ROOFTOP,47.823375,-122.325627,47.820677,-122.328325,NaN,ChIJVUAc5zIFkFQRqp7DOApE2Fs
1,OK,"12531 28th Ave NE, #8 98125",[premise],"12531 28th Ave NE, Seattle, WA 98125, USA",47.720485,-122.297914,47.720209,-122.298312,47.720347,-122.298113,ROOFTOP,47.721696,-122.296764,47.718998,-122.299462,NaN,ChIJGUOw4GQRkFQRbXShPkGkgG4
2,OK,"1301 N 200th St, 98133",[street_address],"1301 N 200th St, Shoreline, WA 98133, USA",NaN,NaN,NaN,NaN,47.773861,-122.343290,ROOFTOP,47.775210,-122.341941,47.772512,-122.344639,NaN,ChIJ1QgYvWIQkFQR-TIHq0L-rZ4
3,OK,"1460 NW 73rd St, Ballard 98117",[premise],"1460 NW 73rd St, Seattle, WA 98117, USA",47.681807,-122.374791,47.681533,-122.375522,47.681670,-122.375156,ROOFTOP,47.683019,-122.373807,47.680321,-122.376505,NaN,ChIJpeWaiSwUkFQR-p7wSlMUX0s
4,OK,"15011 Aurora Ave N, Shoreline 98133",[street_address],"15011 Aurora Ave N, Shoreline, WA 98133, USA",47.739380,-122.345350,47.739380,-122.345369,47.739380,-122.345369,RANGE_INTERPOLATED,47.740729,-122.344010,47.738031,-122.346708,NaN,EiwxNTAxMSBBdXJvcmEgQXZlIE4sIFNob3JlbGluZSwgV0...
5,OK,"1549 NW 49th St, Ballard 98107",[premise],"1549 NW 49th St, Seattle, WA 98107, USA",47.664301,-122.378325,47.664167,-122.378543,47.664234,-122.378434,ROOFTOP,47.665583,-122.377085,47.662885,-122.379783,NaN,ChIJx124E7gVkFQRVha6bGiRyn4
6,OK,"16415 North Rd, Mill Creek, 98012",[street_address],"16415 North Rd, Bothell, WA 98012, USA",NaN,NaN,NaN,NaN,47.848577,-122.235191,ROOFTOP,47.849925,-122.233842,47.847228,-122.236540,True,ChIJpWGti8QFkFQR6cFdd_QIPug
7,OK,"17171 Bothell Wy NE, Lk Forest Pk 98155",[street_address],"17171 Bothell Way NE, Lake Forest Park, WA 981...",NaN,NaN,NaN,NaN,47.754010,-122.280368,ROOFTOP,47.755359,-122.279019,47.752661,-122.281717,NaN,ChIJteRISMgRkFQRgR_4mxeP3Us
8,OK,"17529 15th Ave NE, Shoreline 98155",[premise],"17529 15th Ave NE, Shoreline, WA 98155, USA",47.756723,-122.313816,47.756557,-122.314271,47.756640,-122.314043,ROOFTOP,47.757989,-122.312694,47.755291,-122.315392,NaN,ChIJh8OQBFQQkFQRtGT3q9pOJMQ
9,OK,"18800 44th Ave W, Lynnwood 98036",[premise],"18800 44th Ave W, Lynnwood, WA 98036, USA",47.828034,-122.292845,47.827491,-122.293344,47.827762,-122.293094,ROOFTOP,47.829111,-122.291745,47.826413,-122.294443,NaN,ChIJdbjeSBQFkFQRBY0S4PyQv2o
10,OK,1900 N 175th 98133 (175th & Meridian),[premise],"1900 N 175th St, Shoreline, WA 98133, USA",47.756813,-122.335819,47.756213,-122.336778,47.756513,-122.336298,ROOFTOP,47.757862,-122.334949,47.755164,-122.337647,True,ChIJDXN-jPAQkFQR6g2e5HPFZcg
11,OK,"19820 40th Ave W, Lynnwood 98036",[street_address],"19820 40th Ave W, Lynnwood, WA 98036, USA",NaN,NaN,NaN,NaN,47.818784,-122.287973,ROOFTOP,47.820133,-122.286624,47.817435,-122.289322,NaN,ChIJ8asOC0IFkFQRbi0SgY_uD6Y
12,OK,"19820 40th Ave W, Ste 114, Lynnwood 98036",[subpremise],"19820 40th Ave W #114, Lynnwood, WA 98036, USA",NaN,NaN,NaN,NaN,47.818784,-122.287973,ROOFTOP,47.820133,-122.286624,47.817435,-122.289322,NaN,Ei4xOTgyMCA0MHRoIEF2ZSBXICMxMTQsIEx5bm53b29kLC...
13,OK,"19820 40th Ave. W Suite 114Â ,Â Lynnwood,Â WAÂ...",[subpremise],"19820 40th Ave W #114a, Lynnwood, WA 98036, USA",NaN,NaN,NaN,NaN,47.818784,-122.287973,ROOFTOP,47.820133,-122.286624,47.817435,-122.289322,True,Ei8xOTgyMCA0MHRoIEF2ZSBXICMxMTRhLCBMeW5ud29vZC...
14,OK,"2006 NW 65th, Seattle 98116",[street_address],"2006 65th Ave SW, Seattle, WA 98116, USA",47.577021,-122.415977,47.577017,-122.415995,47.577021,-122.415977,RANGE_INTERPOLATED,47.578368,-122.414637,47.575670,-122.417335,True,EigyMDA2IDY1dGggQXZlIFNXLCBTZWF0dGxlLCBXQSA5OD...
15,OK,2115 N 42nd (& Bagley) 98103,[premise],"2006 NW 65th St, Seattle, WA 98117, USA",47.676208,-122.382503,47.676083,-122.382648,47.676145,-122.382575,ROOFTOP,47.677494,-122.381226,47.674796,-122.383924,True,ChIJD3m49NEVkFQRpTXAyMdnjFI
16,OK,"21428 44th Ave W, Mtlk Terr 98043",[street_address],"2006 NE 65th St, Seattle, WA 98115, USA",47.675797,-122.306238,47.675785,-122.306238,47.675797,-122.306238,RANGE_INTERPOLATED,47.677140,-122.304889,47.674442,-122.307587,True,EicyMDA2IE5FIDY1dGggU3QsIFNlYXR0bGUsIFdBIDk4MT...
17,OK,"2245 NW 57th St, Leif Erickson Hall, 98107",[street_address],"2006 NW 65th Ct, Seattle, WA 98117, USA",47.675840,-122.403497,47.675827,-122.403498,47.675840,-122.403497,RANGE_INTERPOLATED,47.677182,-122.402149,47.674484,-122.404847,True,EicyMDA2IE5XIDY1dGggQ3QsIFNlYXR0bGUsIFdBIDk4MT...
18,OK,"22617 76th Ave W #203, Edmonds 98026",[premise],"2115 N 42nd St, Seattle, WA 98103, USA",47.657840,-122.332783,47.657552,-122.333182,47.657696,-122.332982,ROOFTOP,47.659045,-122.331633,47.656347,-122.334331,True,ChIJkdUg31cUkFQRbO7ErGAE39w
19,OK,22828 76th Ave N (230th&76th Ave W) 98026,[postal_code],"Mountlake Terrace, WA 98043, USA",47.811726,-122.281464,47.777205,-122.333407,47.793372,-122.302732,APPROXIMATE,47.811726,-122.281464,47.777205,-122.333407,True,ChIJk2MIeQYQkFQRJ0Fuj5r5JZE
20,OK,2321 N Northlake Way 98103,[postal_code],"Seattle, WA 98107, USA",47.676919,-122.354463,47.649932,-122.414259,47.668360,-122.376958,APPROXIMATE,47.676919,-122.354463,47.649932,-122.414259,True,ChIJl4kSgrgVkFQRZNDxOdqywIA
21,OK,2400 NW 85th 98117,[premise],"22617 76th Ave W, Edmonds, WA 98026, USA",47.793768,-122.334317,47.793484,-122.335203,47.793626,-122.334760,ROOFTOP,47.794975,-122.333411,47.792277,-122.336109,NaN,ChIJqxRGMJ8akFQR9NQ2rXGCcaw
22,OK,"2609 Larch Way, Lynnwood",[premise],"22828 76th Ave W, Edmonds, WA 98026, USA",47.791872,-122.335713,47.791649,-122.336235,47.791761,-122.335974,ROOFTOP,47.793110,-122.334625,47.790412,-122.337323,True,ChIJoc8D8p4akFQRp0C3T8R4ZW8
23,OK,302 N 78th St 98103,[premise],"2321 N Northlake Way, Seattle, WA 98103, USA",47.650091,-122.330681,47.649814,-122.330879,47.649953,-122.330780,ROOFTOP,47.651302,-122.329431,47.648604,-122.332129,NaN,ChIJaa1wffwUkFQRHRIXf3qXuFk
24,OK,325 N 125th (at Phinney) 98133,[premise],"2400 NW 85th St, Seattle, WA 98117, USA",47.690912,-122.387775,47.690685,-122.388673,47.690798,-122.388224,ROOFTOP,47.692147,-122.386875,47.689449,-122.389573,True,ChIJiWGhPYcWkFQREvLoWD3jmJ0

In [28]:
import re
#addressBrackets ='1900 N 175th 98133 (175th & Meridian)'
addressBrackets ='1900 N 175th 9087'

'1900 N 175th 9087'

In [ ]:

# https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY

import urllib
from urllib.request import urlopen
from pandas.io.json import json_normalize
import requests
import json
import pandas as pd

# Create the basic elements of the URL variables that confine the search for addresses to WA
gkey = 'AIzaSyD2bcgT6vQk96BgBKhFUpG23BuRpe3MkF0'

GEOCODE_BASE_URL = 'https://maps.googleapis.com/maps/api/geocode/json'
country = 'US'
state = 'WA'
address = ''

geo_args = {'address': address,
        'administrative_area_level_1, political': state,
        'country, political':country,
        'key':gkey}

df=pd.DataFrame()


for i in a['revised_address']:
    address= str(i).strip()
    geo_args.update({'address': address})   
    url = GEOCODE_BASE_URL + '?' + urllib.parse.urlencode(geo_args)
    r = requests.get(url)
    response = json.loads(r.text)

    try:
        flatdata = pd.DataFrame(pd.DataFrame(pd.io.json.json_normalize(response['results'])))
        abc=geometry['address'] = address
        defg=geometry['status']= response['status']
        df.append([abc,defg])
        
    except:
        geometry['address'] = i
        geometry['status']= response['status']
       
        df.append([flatdata, abc,defg])

df
                                  
#locationData = locationData.append(locationRecord)



#locationRecord = pd.DataFrame([address, geometry.loc[['place_id','formatted_address','geometry.location.lat', 'geometry.location.lng', 'geometry.location_type', 'types']].T]
#locationData
#locationData
#columns=['place_id', 'formatted-address', 'geometry_location_lat', 'geometry_location_lng','geometry_location_type', 'types']
#locationRecord = [address, geometry.loc['place_id','formatted_address','geometry.location.lat', 'geometry.location.lng', 'geometry.location_type', 'types'].T] 
#locationRecord = pd.DataFrame(geometry.loc[['place_id','formatted_address','geometry.location.lat', 'geometry.location.lng', 'geometry.location_type', 'types']].T)

In [ ]:
geometry = pd.io.json.json_normalize(response['results'])
geometry['address'] = address
geometry

In [ ]:
updatedaddresses.columns
columnsLst = list(i.replace(".", "_") for i in updatedaddresses.columns)
columnsLst

In [ ]:
locationData.rename(columns={'geometry.location.lat':'geometry_location_lat','geometry.location.lng':'geometry_location_lng','geometry.location.type':'geometry_location_type'})

In [ ]:
columnsLst = list(i.replace(".", "_") for i in updatedaddresses.columns)
updatedaddresses.columns = columnsLst
updatedaddresses.columns

In [ ]:
# Process legendcolumn to find unique alpha codes to include in database
str(df[legendColumn]).split()
legendUnique = np.unique(str(df[legendColumn]).split())
[i for i in legendUnique if (len(i)==2 | i.isdigit())]

In [ ]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[str(name[:-1])] = str(x)

    flatten(y)
    return out